.sidebar {
  width: 100px;
  background-color: #65afc2;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 20px;
}

.toggle-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 10px 0;
  display: block;
}

.menu a:hover {
  text-decoration: underline;
}
